@import 'src/styling/variables.module.scss';

.period{
    &_body{
        position: relative;
        color: currentColor;
        display: grid;
        grid-template-columns: 1fr 40%;
        grid-template-rows: auto;
        align-items: center;

        h3{
            @include theme(color, text);
            font-weight: 400;
            margin: 0;
        }
        
        &:focus-within, &:focus-within label{
            @include theme(color, text);
        }
    }

    &:hover, &:focus-within{
        z-index: 1;
    }
}

.open{
    z-index: 1;
}
