@import 'src/styling/variables.module.scss';

.aside {
    @include theme(background, med-background);
    grid-area: aside;
    padding: 20px;

    form{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows:  min-content;
        row-gap: 10px;
    }
}
