@import 'src/styling/variables.module.scss';

.ccontainer{
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;    
}
.cheader{
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6px;
    justify-content: space-between;
    height: 2rem;
}
.custom_body{
    display: grid;
    grid-template-columns: repeat(7, 40px);
    grid-template-rows: 20px repeat(6, 30px);
    text-align: center;
    justify-items: center;
    row-gap: 4px;

    p{
        text-transform: uppercase;
        margin: 0;
        place-self: end center;
    }
    .day_container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    label{
        @include theme(border-radius, radius-small);
        width: 30px;
        padding: 8px 0;
        text-align: center;
    }

    input{
        position: absolute;
        left: -9999px;
        visibility: hidden;
    }

    input:checked + label {
        @include theme(background, button-active-background);
    }
}
.date{
    color: #5c9bec;
    margin-left: 4px;
}