html{
  background-color: #14161a;
  color: #bebebe;
}
.app {
  text-align: center;
  display: grid;
  grid-template-columns: 340px 1fr;
  grid-template-rows: 200px 1fr;
  grid-template-areas: 
    "header header"
    "aside main"
  ;
  justify-content: center;
}
main{
  max-width: 34rem;
}
header{
  grid-area: header;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  #rotate-circle {
    animation: rotate infinite 20s alternate linear;
  }
  div:hover > svg  #rotate-circle{
    animation-play-state: paused;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@keyframes transcolor {
  from {
    background: radial-gradient(#080808, #146652);
  }
  
  to {
    background: radial-gradient(#f9fde4, #91e5b4);
  }
}